@model IEnumerable<Sample.Application.Models.Email>






@{
    ViewBag.Title = "Index";
}



<h2>Email</h2>
<div class="pull-right">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Send Email
    </button>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send Email</h4>
                </div>
                <div class="modal-body">

                    @Html.DropDownList("Emails", "Select EmailTemplateId");
                    @*<div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select Title
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>

            </div>
                    *@
                </div>
                <form method="post">
                    <input type="checkbox" name="chk1" />
                    <p>User @Request["chk1"]</p>
                    <input type="checkbox" name="chk2" value="my own value" />
                    <p>Subscriber @Request["chk2"]</p>

                </form>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>




    <table class="table table-sthiped table-bordered table-hover">

        <tr>
            <th>Id</th>
            <th>EmailTemplateId</th>
            <th>Type</th>
            <th>LogDate</th>

        </tr>


       @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.EmailTemplateId</td>
                <td>@m.Type</td>
                <td>@m.LogDate</td>

            </tr>
        }
    </table>




